html {
    background-color: black;

    #box {
    height: 500px;
    width: 500px;
    background-image: url("wake.jpg");
    background-position: center; 

    }
   
    #prompt{
        margin-top: 300px;
        font-size: x-large;
        font-family: futura;
        text-align: center;
    }
    #prompt a:link, #prompt a:visited {
        text-decoration: none;
        color: rgb(234, 98, 191);
    }

   
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #head{
        color: rgb(76, 148, 236);
        top: 60px;
        font-size: xx-large;
        font-family: futura;
        text-align: center;
    }


    #chat{
        height:150px;
        width: 1420px;
        background-color: rgb(242, 235, 190);
        position:absolute;
        margin-top:50px;
        z-index: -1;
        border: 5px solid rgb(130, 79, 37);
     }
     #go{
        font-size: xx-large;
        padding-top: 5000px;
     }
     #go a:link, #go a:visited {
        text-decoration: none;
        color: rgb(160, 23, 23);
        font-family: futura;
    }

    #chat2{
        height:150px;
        width: 1420px;
        background-color: rgb(242, 235, 190);
        position:absolute;
        z-index: -1;
        border: 5px solid rgb(130, 79, 37);
     }
     #text{
        font-size: x-large;
        font-family: futura;
        right: 200px;
     }

     .eye{
        position: absolute;
        height: 200px;
        width: 200px;
        background-image: url("eye.gif");
        background-position: center; 
     }

     #eye1{
        position: absolute;
        top: 1200px;
        
     }
     #eye2{
        position: absolute;
        top: 1200px;
        left:250px;
        transform: scalex(-1);
     }
     #eye3{
        position: absolute;
        top: 800px;
        left:1000px;
        transform: scalex(-1);
     }
     #eye4{
        position: absolute;
        top: 1400px;
        left:1000px;
        transform: scalex(-1);
        padding-bottom:800px;
     }
     #eye5{
        position: absolute;
        top: 1600px;
        padding-bottom:800px;
    
     }

     #gtc{
        position: absolute;
        color: rgb(160, 23, 23);
        font-family: futura;
        font-size: xx-large;
        top: 1900px;
        left: 300px;
    
     }
     #gtc1{
        position: absolute;
        color: rgb(160, 23, 23);
        font-family: futura;
        font-size: x-large;
        top: 1400px;
        left: 800px;
    
     }
     #gtc2{
        position: absolute;
        color: rgb(160, 23, 23);
        font-family: futura;
        font-size: xx-large;
        top: 800px;
        left: 100px;
    
     }
     #gtc3{
        position: absolute;
        color: rgb(160, 23, 23);
        font-family: futura;
        font-size: x-large;
        top: 2500px;
        left: 900px;
    
     }

    #cat{
        font-size: x-large;
        font-family: futura;
        color: rgb(76, 148, 236);
        text-align: center;

     }

    #chat3{
        height:150px;
        width: 1420px;
        background-color: rgb(242, 235, 190);
        position:absolute;
        z-index: -1;
        border: 5px solid rgb(130, 79, 37);
     }
     #theCat{
    height: 800px;
    width: 800px;
    background-image: url("cat.jpg");
    background-position: center; 
    margin-top: 800px;

    }
    #catC{
        font-size: xx-large;
        margin-top: 1300px;
        font-family: futura;
        text-align: center;
     }
     #catC a:link, #catC a:visited {
        text-decoration: none;
        color: rgb(234, 98, 191);
        
    }

    #chat4{
        height:150px;
        width: 1420px;
        background-color: rgb(242, 235, 190);
        position:absolute;
        margin-top: 0px;
        z-index: -1;
        border: 5px solid rgb(130, 79, 37);
     }
   #win{
    font-size: xx-large;
    font-family: futura;
    text-align: center;
   }
   #win a:link, #win a:visited {
    text-decoration: none;
    color: rgb(234, 98, 191);
    
}
.wordEye{
    height: 200px;
    width: 200px;
    background-image: url("eye.gif");
    background-position: center; 
}

#confetti{
height: 1400px;
width:1400px;
background-image: url("confetti.gif");
z-index: -2;
}

#chat5{
    height:150px;
    width: 1420px;
    background-color: rgb(242, 235, 190);
    position:absolute;
    top: 100px;
    z-index: -1;
    border: 5px solid rgb(130, 79, 37);
}
#failed{
    height: 800px;
    width:800px;
    background-image: url("failed.jpg");
    background-position: center; 
    margin-top: 400px;
}
#smallChat{
    height:150px;
    width: 500px;
    background-color: rgb(242, 235, 190);
    position:absolute;
    top: 1800px;
    z-index: -1;
    border: 5px solid rgb(130, 79, 37);
    
}
}
