
  html{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(18, 17, 17);

    #script{
    color:rgb(200, 200, 248);
    text-align: left;
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 100px;
    margin-right:100px;
    }
    #title{
        color: rgb(89, 89, 231);
        font-size: 5vh;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 50px;
    }


}

