body, html {
    margin: 0;
    min-height: 500vh;
}

#sky {
    position: fixed;
    width: 100vw;
    height: 500vh;
    background-color: black;
    z-index: 1;
    transition: background-color 1s ease;
  }

  #sun {
    position: absolute;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    top: 100%;
    left: calc(50vw - 25vh);
    background-color: #ffdf0d;
    z-index: 2;
  }

  #spotify-logo {
    position: fixed;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    top: 100%;
    left: calc(50vw - 25vh);
    background: url('Assets/spotify-logo.png') center center no-repeat;
    background-size: cover;
    z-index: 3;
    transition: opacity 1s ease;
  }

  .button {
    position: absolute;
    left: calc(50vw - 17.5vh);
    top: 470vh;
    padding: 20px 30px;
    font-family: "Gotham", sans-serif;
    font-size: 36px;
    font-weight: 350;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    background-color: #1DB954;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 4;
}

.button:hover {
    background-color: #2fed72;
}